@(links : Html, scripts: Html, body : Html)
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="@routes.Assets.at("material/css/ripples.min.css")" rel="stylesheet">
        <link href="@routes.Assets.at("material/css/material-wfont.min.css")" rel="stylesheet">
        @links
    </head>

    <body>
        @body
        <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

        <script src="@routes.Assets.at("material/js/ripples.min.js")"></script>
        <script src="@routes.Assets.at("material/js/material.min.js")"></script>
        @scripts
    </body>

</html>